@{
    ViewData["Title"] = "Go Links";
}

<div class="text-center" style="margin-bottom:25px">
    <h1 class="display-4">Welcome to Go Links</h1>
</div>

<p>
    Go Links shorten links to common documents or websites, making them easier to find and share.
</p>

<p>
    Go Links also allow for special formatting to be passed in the URL query string, to allow for linking to
    specific pages, like a review to a CL, or for linking to a common Google Doc or Sheet.
    You can find more details on the <a href="/Links/New">Create New Link</a> page.
</p>
